@import "_variables.scss";

@media (max-width: 800px) {

}

/*

 IMPORTANT CHANGE THE FONT SIZE OF TITLE TO SMALLER ONE

//Card overview:
flex-direction:column;

justify-content: center;
width: 80%;
align-items: center;
margin-top: 15% !important;

//About the Game

text-align: center;
justify-content: center;
align-items: center;

2nd div inside this:
margin-top:0;

//How to play

width:100%!important;

//container with cards
flex-direction:column
//cards:
  justify-content:center

*/
