@import "_variables.scss";

@media (max-width: 1000px) {

  #burger{
    display:block!important;
  }

  .hid{
    display: none!important;
  }

  #ready{
    margin-top: 15%!important;
  }

  #aboutPart{
    flex-direction: column!important;
    align-items: center;
    article{
      justify-content: center;
      width: 80%!important;
      margin-left: 0!important;
      margin-right: 0!important;
      align-items: center;
    }
  }
  #cardview{
    margin-right: 0!important;
    div{
      text-align: center!important;
    }
    p:nth-child(1){
      margin-top: 0!important
    }
  }

  #howto{
    margin-top: 0!important;
    div{
      width: 100%!important;
    }
  }

  #aboutCards{
    p{
      width: 100%!important;
      margin-top: 2%!important;
    }
  }
}

@media (max-width: 800px) {

  #aboutPart,#howto{
    .card{
      width: 60px!important;
      height: 90px!important;
    }
  }

  body{
    text-align: center!important;
  }

  #howto{
    margin-top: 15%!important;
    padding: 0!important;
    div:nth-child(4){
      img{
        margin-left: 0!important;
      }
    }
    div{
      align-items: center!important;
      padding:1%!important;
      flex-direction: column;
      text-align: center;
      padding-top: 2%!important;
      padding-bottom: 2%!important;
      p{
        width: 80%!important;
      }
      button{
        margin-left: 0!important;
      }
      .card-disp{
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  #aboutPart{
    article:nth-child(1){
      margin-right: 0!important;
      margin-bottom: 0!important;
      width: 75%!important;
    }
    article{
    margin-top: 25%!important
    }
    #cardview{
      margin-top: 5%!important;
      width: 100%!important;
    }
  }


    #deck{
      margin-bottom: 15%;
    }
    #ai1,#ai2{
      top: 10%!important;
    }
    #player2{
      left:60%!important;
    }
    #player4{
      right:60%!important;
    }

}

@media (min-width:1915px){

  h3{
    font-size: 32px!important;
  }
  p{
    font-size: 24px!important;
  }
  h4{
    font-size: 32px;
  }

  nav{
    a{
      font-size: 24px;
    }
    #navi{
      font-size: 20px!important;
    }
    #title{
      font-size: 32px!important;
    }
    #logo{
      width: 28px!important;
    }
  }

  #aboutPart{
    height: 100vh!important;
    font-size: 24px;
    article{
      .card{
        height: 250px!important;
        width: 150px!important;
      }
    }
    #cardview{
      justify-content: center;
    }
  }

  #howto{
    margin-top: 0!important;
    button{
      width: 400px;
      height: 50px;
      font-size: 18px;
    }
    .card{
      width: 180px!important;
      height: 250px!important;
    }
  }

  #aboutCards{

    .card-info{
      height: 500px;
      width: 400px;
      img{
        width: 140px!important;
        height: 210px!important;
      }
    }
  }

  #ready{
    margin-top: 5%!important;
    #readyBtn{
      font-size: 20px!important;
    }
    #deck{
      margin-bottom: 5%!important;
      width: 200px!important;
      height: 280px!important;
    }
    #player2,#player3,#player4{
      img{
        width: 100px!important;
        height: 130px!important;
      }
      max-width: none!important;
    }
    #curUser{
      max-height: 200px!important;
      max-width: 450px!important;
      .play-card{
        width: 100px!important;
        height: 130px!important;
      }
    }
  }
}

@media (min-width:2560px) {

  h1{
    font-size: 54px!important;
  }

  #aboutPart{
    height: 100vh!important;

    article{
      .card{
        height: 350px!important;
        width: 210px!important;
      }
    }
    #cardview{
      justify-content: center;
    }
  }

  #howto{
    div.change{
      div.bg-lg{
        justify-content: end;
        width: 50%!important;
      }
    }
    div.left{
      .btn{
        margin-left: 0!important;
        margin-right: 5%;
      }
      div{
        justify-content: start;
        img{
          margin-left: 25%!important;
        }
      }
    }
  }

  #aboutCards{
    margin-top: 20%!important;
  }

  #ready{
    margin-top: 10%!important;
    p{
      font-size: 32px!important;
    }
  }

  .rot-l,p.rot-l-text{
    left:30%!important;
  }

  .rot-r,p.rot-r-text{
    right: 30%!important;
  }

  .rot-d{
    top: 10%!important;
  }
  p.rot-d-text{
    top:5%!important;
  }

}

@media (max-width:450px) {

  #deck{
    margin-bottom: 15%;
    width: 70px;
    height: 100px;
  }
  #ai1,#ai2{
    top: 10%!important;
  }
  #ai3{
    top: -10%!important;
  }
  #player2{
    left:60%!important;
  }
  #player4{
    right:60%!important;
  }

  #player2,#player3,#player4{
    img{
      width: 40px;
      height: 65px;
    }
  }
}
