$shadow:1px 9px 34px -10px rgba(0,0,0,0.52);
$light-g:#3d3d3d;
$main:#313131;
$head-font:'Raleway', sans-serif;
$desc:'Roboto', sans-serif;;
$text:(
  "main":#e4e4e4,
  "attack":#f0a330,
  "defend":#81e671,
  "note":#67b5c7,
  "note2":#79d3e8,
  "warning":#f35230,
  "seek":#ea70fa,
  "danger":#ffee57
);
