@import "_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,ul,li,p,a,h1,h2,h3,h4,h5,div,section,button{
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.shadow{
  box-shadow: $shadow;
}

body{
  color: map-get($text,"main");
  background-color: $main;
}

.bg{
  &-dark{
    background-color: $main;
  }
  &-lg{
    background-color: $light-g;
  }
}

.hide{
  display: none;
}

.font{
  &-head{
    font-family: $head-font;
  }
  &-desc{
    font-family: $desc;
  }
}

.p{
  &-right{
    &-5{
      padding-right: 5px;
    }
  }
  &-bot{
    &-5{
      padding-bottom: 5px;
    }
  }
  &-top{
    padding-top: 70px!important;
  }
  &-5{
    padding: 5px;
  }
  &-10{
    padding: 10px;
  }
  &-15{
    padding: 15px;
  }
  &-20{
    padding: 20px;
  }
  &-35{
    padding: 35px;
  }
}

.txt{
  &-main{
    color: map-get($text,"main");
  }
  &-info{
    color: map-get($text,"note2");
  }
  &-success{
    color: map-get($text,"defend");
  }
  &-warning{
    color: map-get($text,"warning");
  }
  &-attack{
    color: map-get($text,"attack");
  }
  &-seek{
    color: map-get($text,"seek");
  }
  &-danger{
    color: map-get($text,"danger");
  }
}

.desc-cont{
  flex-wrap:nowrap;
  overflow-x: auto;
  position: relative;
}

.card-info{
  height: 400px;
  width: 300px;
  flex: 0 0 auto;
  img{
    width: 100px;
    height: 150px;
  }
}

.max{
  &-height{
    height: 100vh!important;
  }
  &-w{
    max-width: 280px;
  }
  &-h{
    max-height:100px;
  }
}

.overflow{
  &-scrollY{
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    flex-wrap: wrap;
  }
}

.flex{
  display: flex;
  &-flx-col{
    flex-direction: column;
  }
  &-flx-row{
    flex-direction: row;
  }
  &-jc-ce{
    justify-content: center;
  }
  &-jc-e{
    justify-content: flex-end;
  }
  &-ai-ce{
    align-items: center;
  }
  &-ai-e{
    align-items: flex-end;
  }
  &-wrap{
    flex-wrap: wrap;
  }
}

.w{
  &-100{
    width: 100%;
  }
  &-80{
    width: 80%;
  }
  &-50{
    width: 50%;
  }
  &-30{
    width: 30%;
  }
  &-15{
    width: 15%;
  }
}

.block{
  display: block;
}

.size{
  &-m{
    font-size: 24px;
  }
  &-ml{
    font-size: 32px;
  }
  &-l{
    font-size: 48px;
  }
  &-xl{
    font-size: 64px;
  }
}

.margin{
  &-bot{
    &-auto{
      margin-bottom: auto;
    }
    &-0{
      margin-bottom: 0;
    }
    &-10{
      margin-bottom: 10%;
    }
    &-20{
      margin-bottom: 20px;
    }
    &-5{
      margin-bottom: 5%!important;
    }
    &-25{
      margin-bottom: 25%;
    }
    &-2{
      margin-bottom: 2%;
    }
    &-1{
      margin-bottom: 1%;
    }
  }
  &-top{
    &-auto{
      margin-top: auto;
    }
    &-0{
      margin-top: 0;
    }
    &-10{
      margin-top: 10%!important;
    }
    &-15{
      margin-top: 15%;
    }
    &-20{
      margin-top: 20px;
    }
    &-5{
      margin-top: 5%!important;
    }
    &-25{
      margin-top: 25%;
    }
    &-2{
      margin-top: 2%;
    }
    &-1{
      margin-top: 1%;
    }
  }
  &-left{
    &-auto{
      margin-left: auto;
    }
    &-0{
      margin-left: 0;
    }
    &-10{
      margin-left: 10%;
    }
    &-20{
      margin-left: 20px;
    }
    &-5{
      margin-left: 5%!important;
    }
    &-25{
      margin-left: 25%;
    }
    &-2{
      margin-left: 2%;
    }
    &-1{
      margin-left: 1%;
    }
  }
  &-right{
    &-auto{
      margin-right: auto;
    }
    &-0{
      margin-right: 0;
    }
    &-10{
      margin-right: 10%;
    }
    &-5{
      margin-right: 5%!important;
    }
    &-25{
      margin-right: 25%;
    }
    &-2{
      margin-right: 2%;
    }
  }
  &-auto{
    margin: auto;
  }
  &-0{
    margin: 0;
  }
  &-2{
    margin:2%;
  }
  &-10{
    margin: 10%;
  }
  &-5{
    margin: 5%;
  }
  &-20{
    margin:20%;
  }
  &-25{
    margin: 25%;
  }
}

.bold{
  font-weight: bold;
}

#deck{
  &:hover{
    cursor: pointer;
  }
}
.pos{
  &-rel{
    position: relative;
  }
  &-abs{
    position: absolute;
  }
  &-fix{
    position: fixed;
    z-index: 55;
  }
}

.stuck{
  max-width: 220px!important;
  max-height: 130px!important;
}


.rot{
  &-l{
    transform: rotate(90deg);
    left:20%;
    top:25%;
    &-text{
      transform: rotate(90deg);
      left:10%!important;
      top:30%!important;
    }
  }
  &-d{
    transform: rotate(180deg);
    top:0;
    &-text{
      top:-15%!important;
    }
  }
  &-r{
    transform: rotate(270deg);
    right:20%;
    top:25%;
    &-text{
      transform: rotate(270deg);
      right:10%!important;
      top:30%!important;
    }
  }
}

.btn{
  width: 250px;
  height: 50px;
  border-radius: 10px;
  background-color: map-get($text,"note2");
  color: white;
  font-family: $head-font;
  &:hover{
    background-color:#85e8ff;
    transition: 0.3s;
  }
}

.width{
  &-30{
    width: 30%;
  }
  &-40{
    width: 40%;
  }
  &-50{
    width: 50%;
  }
  &-80{
    width: 80%;
  }
  &-100{
    width: 100%;
  }
}


#logo{
  width: 16px;
  height: 100%;
  margin-right: 2px;
}

.card{
  width: 120px;
  height: 180px;
}

.play-card{
  width: 60px;
  height: 90px;
}

#curUser{
  .play-card{
    &:hover{
      cursor: pointer;
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
}

.card-cont{
  img{
    padding:5px;
  }
  flex-wrap: wrap;
}

#navi{
  a{
    margin-left: 20px;
    padding: 5px;
    &:hover{
      color:map-get($text,"note");
      transition: 0.3s;
    }
  }
  #reset{
    color:map-get($text,"main");
    &:hover{
      color: map-get($text,"danger");
      transition: 0.3s;
    }
  }
}

.txt{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
  &-center{
    text-align: center;
  }
}

/* The Modal (background) */
.modal {
 display: none;
 position: fixed;
 z-index: 1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0,0.4);
 .modal-content {
  background-color: $light-g;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
 }
}

.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
  &:hover,&:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

html{
    scrollbar-width:none;
}

#info-cont,#curUser{
  scrollbar-width:thin;
    scroll-behavior: smooth;
}
